# Opsi fallback sementara ke Apps Script
GAS_WEB_APP_URL=https://script.google.com/macros/s/AKfycbzz2sBb-ymHrXkrOolYriYDvz7sgYdN7d9XQZ8Mh7_BZ_Ly3w6kf3siVsecNJJVnC9D/exec

# Opsi backend penuh Supabase/PostgreSQL
SUPABASE_URL=https://PROJECT_ID.supabase.co
SUPABASE_SERVICE_ROLE_KEY=ISI_SERVICE_ROLE_KEY_SUPABASE
JWT_SECRET=ISI_RANDOM_MINIMAL_32_KARAKTER
JWT_EXPIRES_IN=12h
